@use "src/theme";
.recipes-list-wrapper {
    display: flex;
}

.recipes-row {
    flex-direction: row;
    min-width: 30rem;
}

.recipes-list {
    flex: 1;
}

.recipe-list-item:hover {
    background-color: whitesmoke;
    .recipe-action {
        display: block;
    }
}

.recipe-list-item-inner {
    display: flex;
    align-items: center;
}

.recipe-name {
    flex: 1;
    color: black;
    &:active {
        color: theme.$main-color;
    }
}

.recipe-name.active {
    color: theme.$main-color;
}

.recipe-action {
    display: none;
}